<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="bG9oN1E2eTgzKBp7JGEdAR0oGkRiZSNVWDgYczwBC3UuDStYM1dNdg==">
    <title>Yii Framework 中文社区 - 文档手册 - 视频教程 - 扩展下载</title>
    <meta name="keywords" content="Yii Framewok, 中文社区, 文档手册, 视频教程, 扩展下载">
    <meta name="description" content="Yii Framework 是一个基于组件、用于开发大型 Web 应用的高性能 PHP 框架。">
    <link type="image/x-icon" href="/favicon.ico" rel="shortcut icon">
    <link href="/assets/602ca910/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/176e5198/css/font-awesome.css" rel="stylesheet">
    <link href="/css/site.css" rel="stylesheet">
</head>
<body>
<div class="wrap">
    <nav id="w0" class="navbar-inverse navbar-fixed-top navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#w0-collapse"><span
                        class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span></button>
                <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="Yii Framework 中文社区"></a></div>
            <div id="w0-collapse" class="collapse navbar-collapse">
                <ul id="w1" class="navbar-nav navbar-left nav">
                    <li class="active"><a href="/">首页</a></li>
                    <li><a href="/about">关于</a></li>
                    <li><a href="/download">下载</a></li>
                    <li><a href="/doc">文档</a></li>
                    <li><a href="/tutorial">教程</a></li>
                    <li><a href="/extension">扩展</a></li>
                    <li><a href="/code">源码</a></li>
                    <li><a href="/question">问答</a></li>
                    <li><a href="/topic">讨论</a></li>
                    <li><a href="/cases">案例</a></li>
                </ul>
                <form class="navbar-form navbar-left" action="/" method="post">
                    <input type="hidden" name="_csrf" value="bG9oN1E2eTgzKBp7JGEdAR0oGkRiZSNVWDgYczwBC3UuDStYM1dNdg==">

                    <div class="input-group"><input type="text" class="form-control" name="q" placeholder="全站搜索"><span
                            class="input-group-btn"><button type="submit" class="btn btn-default"><i
                            class="fa fa-search"></i></button></span></div>
                </form>
                <ul id="w2" class="navbar-nav navbar-right nav">
                    <li><a href="/user/notice"><span class="fa fa-bell-o"></span> </a></li>
                    <li class="dropdown"><a class="avatar dropdown-toggle" href="#" data-toggle="dropdown"><img
                            src="/uploads/avatar/000/02/14/28_avatar_small.jpg" alt="大裤衩子"> <b class="caret"></b></a>
                        <ul id="w3" class="dropdown-menu">
                            <li><a href="/user" tabindex="-1"><span class="fa fa-user fa-fw"></span> 个人主页</a></li>
                            <li><a href="/user/site/index" tabindex="-1"><span class="fa fa-cog fa-fw"></span> 帐户设置</a>
                            </li>
                            <li><a href="/user/message" tabindex="-1"><span class="fa fa-envelope fa-fw"></span>
                                我的私信</a></li>
                            <li><a href="/user/post" tabindex="-1"><span class="fa fa-list fa-fw"></span> 我的发布</a></li>
                            <li><a href="/user/favourite" tabindex="-1"><span class="fa fa-star fa-fw"></span> 我的收藏</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="/logout" data-method="post" tabindex="-1"><span
                                    class="fa fa-sign-out fa-fw"></span> 退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div id="w4" class="alert-warning alert fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

            您的邮箱 <strong>289209336@qq.com</strong> 还未验证，请尽快登录邮箱查收邮件并激活。如果您未收到邮件，<a class="alert-link"
                                                                                   href="/request-email-verify">点此重新发送</a>。

        </div>
        <div class="row">
            <div class="col-lg-9 col-md-9">
                <div class="jumbotron">
                    <h1><font class="fast">快速</font>，<font class="secure">安全</font>，<font class="professional">专业</font>的
                        PHP 框架</h1>

                    <h2>Yii 是一个<a href="/performance">高性能</a>的，适用于开发 WEB2.0 应用的 PHP 框架。</h2>

                    <p>Yii 自带了<a href="/features">丰富的功能</a> ，包括
                        MVC，DAO/ActiveRecord，I18N/L10N，缓存，身份验证和基于角色的访问控制，脚手架，测试等，可显著缩短开发时间。</p>

                    <p>
                        <a class="btn btn-lg btn-success" href="/tour"><span class="glyphicon glyphicon-book"></span>
                            中文教程</a><a class="btn btn-lg btn-primary" href="/download"><span
                            class="glyphicon glyphicon-download"></span> 下载框架</a> 2.0.1 版本发布于 2014年12月07日 • 1.1.16 版本发布于
                        2014年12月21日
                    </p>
                </div>

                <div class="feature">
                    <div class="row">
                        <div class="col-lg-4">
                            <h2 class="fast"><span class="fa fa-clock-o"></span> 快速</h2>

                            <p>Yii 只加载您需要的功能。它具有强大的缓存支持。它明确的设计能与 AJAX 一起高效率的工作。</p>
                        </div>
                        <div class="col-lg-4">
                            <h2 class="secure"><span class="fa fa-shield"></span> 安全</h2>

                            <p>Yii 的标准是安全的。它包括了输入验证，输出过滤，SQL 注入和跨站点脚本的预防。</p>
                        </div>
                        <div class="col-lg-4">
                            <h2 class="professional"><span class="fa fa-globe"></span> 专业</h2>

                            <p>Yii 可帮助您开发清洁和可重用的代码。它遵循了 MVC 模式，确保了清晰分离逻辑层和表示层。</p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2><span class="fa fa-list"></span> 最新动态</h2>
                        <span class="pull-right"><a href="/news/index">更多&raquo;</a></span>
                    </div>
                    <div class="panel-body">
                        <ul class="index-list">
                            <li>
                                <a class="blank" href="/news/77" title="在新窗口打开" target="_blank"
                                   data-toggle="tooltip"><span class="fa fa-file-text-o fa-fw"></span> </a><a
                                    href="/news/77">Yii 1.1.16 发布了</a> <span class="tags"><ul class="tag-list">
                                <li><a class="label label-primary" href="/news/index?tag=%E5%8F%91%E5%B8%83">发布</a></li>
                            </ul></span>
                                <span class="time">2014-12-21</span>
                            </li>
                            <li>
                                <a class="blank" href="/news/76" title="在新窗口打开" target="_blank"
                                   data-toggle="tooltip"><span class="fa fa-file-text-o fa-fw"></span> </a><a
                                    href="/news/76">Yii 2.0.1 发布了</a> <span class="tags"><ul class="tag-list">
                                <li><a class="label label-primary" href="/news/index?tag=%E5%8F%91%E5%B8%83">发布</a></li>
                                <li><a class="label label-success" href="/news/index?tag=Yii+2.0">Yii 2.0</a></li>
                            </ul></span>
                                <span class="time">2014-12-07</span>
                            </li>
                            <li>
                                <a class="blank" href="/news/75" title="在新窗口打开" target="_blank"
                                   data-toggle="tooltip"><span class="fa fa-file-text-o fa-fw"></span> </a><a
                                    href="/news/75">Yii 2.0.0 发布了</a> <span class="tags"><ul class="tag-list">
                                <li><a class="label label-primary" href="/news/index?tag=%E5%8F%91%E5%B8%83">发布</a></li>
                                <li><a class="label label-success" href="/news/index?tag=Yii+2.0">Yii 2.0</a></li>
                            </ul></span>
                                <span class="time">2014-10-12</span>
                            </li>
                            <li>
                                <a class="blank" href="/news/74" title="在新窗口打开" target="_blank"
                                   data-toggle="tooltip"><span class="fa fa-file-text-o fa-fw"></span> </a><a
                                    href="/news/74">Yii 2.0 RC 发布了</a> <span class="tags"><ul class="tag-list">
                                <li><a class="label label-success" href="/news/index?tag=Yii+2.0">Yii 2.0</a></li>
                                <li><a class="label label-primary" href="/news/index?tag=%E5%8F%91%E5%B8%83">发布</a></li>
                            </ul></span>
                                <span class="time">2014-09-28</span>
                            </li>
                            <li>
                                <a class="blank" href="/news/73" title="在新窗口打开" target="_blank"
                                   data-toggle="tooltip"><span class="fa fa-file-text-o fa-fw"></span> </a><a
                                    href="/news/73">Yii 1.1.15 发布了 (安全修复)</a> <span class="tags"><ul class="tag-list">
                                <li><a class="label label-primary" href="/news/index?tag=%E5%8F%91%E5%B8%83">发布</a></li>
                                <li><a class="label label-primary" href="/news/index?tag=%E5%AE%89%E5%85%A8">安全</a></li>
                            </ul></span>
                                <span class="time">2014-06-29</span>
                            </li>
                            <li>
                                <a class="blank" href="/news/72" title="在新窗口打开" target="_blank"
                                   data-toggle="tooltip"><span class="fa fa-file-text-o fa-fw"></span> </a><a
                                    href="/news/72">Yii 2.0 Beta版发布了</a> <span class="tags"><ul class="tag-list">
                                <li><a class="label label-success" href="/news/index?tag=Yii+2.0">Yii 2.0</a></li>
                                <li><a class="label label-primary" href="/news/index?tag=%E5%8F%91%E5%B8%83">发布</a></li>
                            </ul></span>
                                <span class="time">2014-04-13</span>
                            </li>
                            <li>
                                <a class="blank" href="/news/71" title="在新窗口打开" target="_blank"
                                   data-toggle="tooltip"><span class="fa fa-file-text-o fa-fw"></span> </a><a
                                    href="/news/71">Yii 2.0 alpha版发布了</a> <span class="tags"><ul class="tag-list">
                                <li><a class="label label-primary" href="/news/index?tag=%E5%8F%91%E5%B8%83">发布</a></li>
                            </ul></span>
                                <span class="time">2013-12-01</span>
                            </li>
                            <li>
                                <a class="blank" href="/news/70" title="在新窗口打开" target="_blank"
                                   data-toggle="tooltip"><span class="fa fa-file-text-o fa-fw"></span> </a><a
                                    href="/news/70">Yii 1.1.14 发布了</a> <span class="tags"><ul class="tag-list">
                                <li><a class="label label-primary" href="/news/index?tag=%E5%8F%91%E5%B8%83">发布</a></li>
                            </ul></span>
                                <span class="time">2013-08-11</span>
                            </li>
                            <li>
                                <a class="blank" href="/news/69" title="在新窗口打开" target="_blank"
                                   data-toggle="tooltip"><span class="fa fa-file-text-o fa-fw"></span> </a><a
                                    href="/news/69">Website deface</a> <span class="tags"></span>
                                <span class="time">2013-07-23</span>
                            </li>
                            <li>
                                <a class="blank" href="/news/68" title="在新窗口打开" target="_blank"
                                   data-toggle="tooltip"><span class="fa fa-file-text-o fa-fw"></span> </a><a
                                    href="/news/68">Website deface details</a> <span class="tags"></span>
                                <span class="time">2013-07-23</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2><span class="fa fa-list"></span> 最新问题</h2>
                        <span class="pull-right"><a href="/question">更多&raquo;</a></span>
                    </div>
                    <div class="panel-body">
                        <ul class="index-list">
                            <li>
                                <a class="blank" href="/question/448" title="问题未解决，在新窗口打开" target="_blank"
                                   data-toggle="tooltip"><span class="fa fa-question-circle fa-fw"></span> </a><a
                                    href="/question/448">求个2.0版本,里面好用的年月日,时分秒的日期控件?</a> <span class="info"><a
                                    href="/user/29805" rel="author">archie0128</a> 提问于 51分钟前<span class="dot">•</span>未解决<span
                                    class="dot">•</span>2.0 版本</span>
                                <span class="stat">3浏览 / 0回答</span>
                            </li>
                            <li>
                                <a class="blank" href="/question/447" title="问题未解决，在新窗口打开" target="_blank"
                                   data-toggle="tooltip"><span class="fa fa-question-circle fa-fw"></span> </a><a
                                    href="/question/447">goto 语句效率高 还是 if else 效率高呢？</a> <span class="info"><a
                                    href="/user/28442" rel="author">fzb</a> 提问于 1天前<span class="dot">•</span>未解决<span
                                    class="dot">•</span>未指定版本</span>
                                <span class="stat">44浏览 / 1回答</span>
                            </li>
                            <li>
                                <a class="blank" href="/question/446" title="问题未解决，在新窗口打开" target="_blank"
                                   data-toggle="tooltip"><span class="fa fa-question-circle fa-fw"></span> </a><a
                                    href="/question/446">Yii2.0中怎样用命令创建Module呢</a> <span class="info"><a
                                    href="/user/27009" rel="author">fuqiaoxin</a> 提问于 1天前<span
                                    class="dot">•</span>未解决<span class="dot">•</span>2.0 版本</span>
                                <span class="stat">29浏览 / 0回答</span>
                            </li>
                            <li>
                                <a class="blank" href="/question/445" title="问题已解决，在新窗口打开" target="_blank"
                                   data-toggle="tooltip"><span class="fa fa-check-circle fa-fw"></span> </a><a
                                    href="/question/445">Yii 加载 PHP 文件</a> <span class="info"><a href="/user/29515"
                                                                                                 rel="author">YiiSoEasy</a> 提问于 1天前<span
                                    class="dot">•</span>已解决<span class="dot">•</span>未指定版本</span>
                                <span class="stat">55浏览 / 3回答</span>
                            </li>
                            <li>
                                <a class="blank" href="/question/444" title="问题未解决，在新窗口打开" target="_blank"
                                   data-toggle="tooltip"><span class="fa fa-question-circle fa-fw"></span> </a><a
                                    href="/question/444">ActiveQuery 怎么生成 (**and**) OR (** AND **) 的SQL？</a> <span
                                    class="info"><a href="/user/28698" rel="author">dyllen</a> 提问于 1天前<span class="dot">•</span>未解决<span
                                    class="dot">•</span>2.0 版本</span>
                                <span class="stat">30浏览 / 0回答</span>
                            </li>
                            <li>
                                <a class="blank" href="/question/443" title="问题未解决，在新窗口打开" target="_blank"
                                   data-toggle="tooltip"><span class="fa fa-question-circle fa-fw"></span> </a><a
                                    href="/question/443">在 Yii2.0 中怎么使用 sphinx 搜索？</a> <span class="info"><a
                                    href="/user/29875" rel="author">ccc</a> 提问于 2天前<span class="dot">•</span>未解决<span
                                    class="dot">•</span>2.0 版本</span>
                                <span class="stat">72浏览 / 2回答</span>
                            </li>
                            <li>
                                <a class="blank" href="/question/442" title="问题已解决，在新窗口打开" target="_blank"
                                   data-toggle="tooltip"><span class="fa fa-check-circle fa-fw"></span> </a><a
                                    href="/question/442">AssetBundle 的 basePath 和 sourcePath 属性？</a> <span class="info"><a
                                    href="/user/29688" rel="author">jayce</a> 提问于 2天前<span class="dot">•</span>已解决<span
                                    class="dot">•</span>2.0 版本</span>
                                <span class="stat">61浏览 / 2回答</span>
                            </li>
                            <li>
                                <a class="blank" href="/question/441" title="问题未解决，在新窗口打开" target="_blank"
                                   data-toggle="tooltip"><span class="fa fa-question-circle fa-fw"></span> </a><a
                                    href="/question/441">请问 Yii2.0 文件上传规则定以后，文件反而上传不了，是怎么回事</a> <span class="info"><a
                                    href="/user/28323" rel="author">zfeig</a> 提问于 12-23<span
                                    class="dot">•</span>未解决<span class="dot">•</span>2.0 版本</span>
                                <span class="stat">131浏览 / 0回答</span>
                            </li>
                            <li>
                                <a class="blank" href="/question/440" title="问题已解决，在新窗口打开" target="_blank"
                                   data-toggle="tooltip"><span class="fa fa-check-circle fa-fw"></span> </a><a
                                    href="/question/440">jQuery ajax 提交的时候返回 POST 404 Not Found 报错，求解决办...</a> <span
                                    class="info"><a href="/user/29850" rel="author">burningx</a> 提问于 12-22<span
                                    class="dot">•</span>已解决<span class="dot">•</span>1.1 版本</span>
                                <span class="stat">98浏览 / 4回答</span>
                            </li>
                            <li>
                                <a class="blank" href="/question/439" title="问题已解决，在新窗口打开" target="_blank"
                                   data-toggle="tooltip"><span class="fa fa-check-circle fa-fw"></span> </a><a
                                    href="/question/439">请问 rules 规则中的 message 如何引用当前的标签？</a> <span class="info"><a
                                    href="/user/28323" rel="author">zfeig</a> 提问于 12-22<span
                                    class="dot">•</span>已解决<span class="dot">•</span>2.0 版本</span>
                                <span class="stat">95浏览 / 2回答</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2><span class="fa fa-list"></span> 最新主题</h2>
                        <span class="pull-right"><a href="/topic">更多&raquo;</a></span>
                    </div>
                    <div class="panel-body">
                        <ul class="index-list">
                            <li>
                                <a class="blank" href="/topic/5650" title="在新窗口打开" target="_blank"
                                   data-toggle="tooltip"><span class="fa fa-file-text-o fa-fw"></span> </a><a
                                    href="/topic/5650">Yii2 如何使用 Ajax 应用？</a>                        <span class="info"><a
                                    href="/user/29688" rel="author">jayce</a> 发布于 12-22<span class="dot">•</span><a
                                    href="/user/29089" rel="author">infozr</a> 最后回复于 12-23                        <span
                                    class="stat">209浏览 / 2回复</span>
                            </li>
                            <li>
                                <a class="blank" href="/topic/5649" title="在新窗口打开" target="_blank"
                                   data-toggle="tooltip"><span class="fa fa-file-text-o fa-fw"></span> </a><a
                                    href="/topic/5649">Yii2.0 初始化项目时提示报错（为什么那么多中括号）</a>                        <span
                                    class="info"><a href="/user/29828" rel="author">dingling136</a> 发布于 12-21<span
                                    class="dot">•</span><a href="/user/2" rel="author">╃巡洋艦㊣</a> 最后回复于 12-22                        <span
                                    class="stat">117浏览 / 4回复</span>
                            </li>
                            <li>
                                <a class="blank" href="/topic/5647" title="在新窗口打开" target="_blank"
                                   data-toggle="tooltip"><span class="fa fa-file-text-o fa-fw"></span> </a><a
                                    href="/topic/5647">ActiveRecord 查询的结果和之间执行 sql 不一样。</a>                        <span
                                    class="info"><a href="/user/28698" rel="author">dyllen</a> 发布于 12-18<span
                                    class="dot">•</span><a href="/user/28698" rel="author">dyllen</a> 最后回复于 2天前                        <span
                                    class="stat">136浏览 / 3回复</span>
                            </li>
                            <li>
                                <a class="blank" href="/topic/5646" title="在新窗口打开" target="_blank"
                                   data-toggle="tooltip"><span class="fa fa-file-text-o fa-fw"></span> </a><a
                                    href="/topic/5646">Yii 怎么去掉自带的登陆功能？</a>                        <span class="info"><a
                                    href="/user/29786" rel="author">a781305886</a> 发布于 12-18<span class="dot">•</span><a
                                    href="/user/29786"
                                    rel="author">a781305886</a> 最后回复于 12-18                        <span class="stat">165浏览 / 1回复</span>
                            </li>
                            <li>
                                <a class="blank" href="/topic/5645" title="在新窗口打开" target="_blank"
                                   data-toggle="tooltip"><span class="fa fa-file-text-o fa-fw"></span> </a><a
                                    href="/topic/5645">Yii2 中配置 Bootstrap</a>                        <span class="info"><a
                                    href="/user/26230" rel="author">hao.ke</a> 发布于 12-16<span class="dot">•</span><a
                                    href="/user/29515"
                                    rel="author">YiiSoEasy</a> 最后回复于 12-19                        <span class="stat">12247浏览 / 4回复</span>
                            </li>
                            <li>
                                <a class="blank" href="/topic/5644" title="在新窗口打开" target="_blank"
                                   data-toggle="tooltip"><span class="fa fa-file-text-o fa-fw"></span> </a><a
                                    href="/topic/5644">请教一个关于 cookie 读取的问题</a>                        <span
                                    class="info"><a href="/user/29754" rel="author">gcollar</a> 发布于 12-16<span
                                    class="dot">•</span><a href="/user/29552" rel="author">fly020212</a> 最后回复于 12-17                        <span
                                    class="stat">360浏览 / 3回复</span>
                            </li>
                            <li>
                                <a class="blank" href="/topic/5643" title="在新窗口打开" target="_blank"
                                   data-toggle="tooltip"><span class="fa fa-file-text-o fa-fw"></span> </a><a
                                    href="/topic/5643">能英语沟通的，熟悉 Yii 框架和 OOP 的 PHP 编程员</a>                        <span
                                    class="info"><a href="/user/29765" rel="author">kylie</a> 发布于 12-16<span
                                    class="dot">•</span><a href="/user/28528" rel="author">Ricky_nie</a> 最后回复于 1天前                        <span
                                    class="stat">282浏览 / 3回复</span>
                            </li>
                            <li>
                                <a class="blank" href="/topic/5642" title="此帖锁定，在新窗口打开" target="_blank"
                                   data-toggle="tooltip"><span class="fa fa-lock fa-fw"></span> </a><a
                                    href="/topic/5642">北京用友软件招聘 PHP 三年以上工作经验 10K-20K</a>                        <span
                                    class="info"><a href="/user/29748" rel="author">zhiyuye</a> 发布于 12-15<span
                                    class="dot">•</span><a href="/user/29748" rel="author">zhiyuye</a> 最后回复于 12-15                        <span
                                    class="stat">20209浏览 / 0回复</span>
                            </li>
                            <li>
                                <a class="blank" href="/topic/5641" title="此帖锁定，在新窗口打开" target="_blank"
                                   data-toggle="tooltip"><span class="fa fa-lock fa-fw"></span> </a><a
                                    href="/topic/5641">北京企业 12K~18K 直招 MySQL DBA</a>                        <span
                                    class="info"><a href="/user/29741" rel="author">黑夜深沉</a> 发布于 12-15<span class="dot">•</span><a
                                    href="/user/29741" rel="author">黑夜深沉</a> 最后回复于 12-15                        <span
                                    class="stat">147浏览 / 0回复</span>
                            </li>
                            <li>
                                <a class="blank" href="/topic/5640" title="此帖锁定，在新窗口打开" target="_blank"
                                   data-toggle="tooltip"><span class="fa fa-lock fa-fw"></span> </a><a
                                    href="/topic/5640">北京企业 12K~20K 直招PHP高级程序员</a>                        <span
                                    class="info"><a href="/user/29741" rel="author">黑夜深沉</a> 发布于 12-15<span class="dot">•</span><a
                                    href="/user/29741" rel="author">黑夜深沉</a> 最后回复于 12-15                        <span
                                    class="stat">202浏览 / 0回复</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <button type="button" class="btn btn-success btn-block disabled"><span
                        class="glyphicon glyphicon-gift"></span> 您已连续签到3天，金钱+15
                </button>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2><span class="fa fa-comments-o"></span> 看看大家在说什么？</h2>
                        <span class="pull-right"><a href="/feed/index">更多&raquo;</a></span>
                    </div>
                    <div class="panel-body">
                        <form action="/" method="post">
                            <input type="hidden" name="_csrf"
                                   value="bG9oN1E2eTgzKBp7JGEdAR0oGkRiZSNVWDgYczwBC3UuDStYM1dNdg==">

                            <div class="input-group form-group"><textarea class="form-control" name="Feed[content]"
                                                                          style="height:50px; resize: none;"
                                                                          placeholder="我想说..."></textarea><span
                                    class="input-group-btn"><button type="submit" class="btn btn-success"
                                                                    style="height:50px;">发表
                            </button></span></div>
                        </form>
                        <div class="scroll-pane">
                            <ul class="media-list">
                                <li class="media">
                                    <a class="media-left" href="/user/18863" rel="author"><img
                                            src="/uploads/avatar/000/01/88/63_avatar_small.jpg" alt="FatrBaby"></a>

                                    <div class="media-body">
                                        <div class="media-content"><a href="/user/18863" rel="author">FatrBaby</a>：@╃巡洋艦㊣
                                            舰长，应该在“自己采纳自己答案”（自问自答自采纳）这种操作上做个限制。
                                        </div>
                                        <div class="media-action">
                                            1小时前                                    <span class="pull-right">
                                        <a href="/feed/1786">评论(2)</a>                                    </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="media">
                                    <a class="media-left" href="/user/28584" rel="author"><img
                                            src="/uploads/avatar/000/02/85/84_avatar_small.jpg" alt="msmao"></a>

                                    <div class="media-body">
                                        <div class="media-content"><a href="/user/28584" rel="author">msmao</a>：http://www.yiichina.com/doc/guide/2.0
                                            全英文了。。
                                        </div>
                                        <div class="media-action">
                                            14小时前                                    <span class="pull-right">
                                        <a href="/feed/1785">评论(0)</a>                                    </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="media">
                                    <a class="media-left" href="/user/28584" rel="author"><img
                                            src="/uploads/avatar/000/02/85/84_avatar_small.jpg" alt="msmao"></a>

                                    <div class="media-body">
                                        <div class="media-content"><a href="/user/28584" rel="author">msmao</a>：http://www.yiichina.com/doc/guide/2.0
                                        </div>
                                        <div class="media-action">
                                            14小时前                                    <span class="pull-right">
                                        <a href="/feed/1784">评论(0)</a>                                    </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="media">
                                    <a class="media-left" href="/user/18863" rel="author"><img
                                            src="/uploads/avatar/000/01/88/63_avatar_small.jpg" alt="FatrBaby"></a>

                                    <div class="media-body">
                                        <div class="media-content"><a href="/user/18863" rel="author">FatrBaby</a>：turn
                                            up
                                        </div>
                                        <div class="media-action">
                                            1天前                                    <span class="pull-right">
                                        <a href="/feed/1778">评论(4)</a>                                    </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="media">
                                    <a class="media-left" href="/user/28094" rel="author"><img
                                            src="/uploads/avatar/000/02/80/94_avatar_small.jpg" alt="小马哥"></a>

                                    <div class="media-body">
                                        <div class="media-content"><a href="/user/28094" rel="author">小马哥</a>：我想发表教程怎么弄啊<img
                                                src="/images/emot/50.gif" alt="表情"/></div>
                                        <div class="media-action">
                                            1天前                                    <span class="pull-right">
                                        <a href="/feed/1773">评论(2)</a>                                    </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="media">
                                    <a class="media-left" href="/user/28323" rel="author"><img
                                            src="/uploads/avatar/000/02/83/23_avatar_small.jpg" alt="zfeig"></a>

                                    <div class="media-body">
                                        <div class="media-content"><a href="/user/28323" rel="author">zfeig</a>：天王盖地虎
                                            小鸡炖蘑菇
                                        </div>
                                        <div class="media-action">
                                            1天前                                    <span class="pull-right">
                                        <a href="/feed/1772">评论(0)</a>                                    </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="media">
                                    <a class="media-left" href="/user/29725" rel="author"><img
                                            src="/uploads/avatar/000/02/97/25_avatar_small.jpg" alt="zf1315"></a>

                                    <div class="media-body">
                                        <div class="media-content"><a href="/user/29725" rel="author">zf1315</a>：在这个里面是不是只能写关于yii的东西，那我如果写ubuntu的资料，不知道行不行
                                        </div>
                                        <div class="media-action">
                                            1天前                                    <span class="pull-right">
                                        <a href="/feed/1769">评论(2)</a>                                    </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="media">
                                    <a class="media-left" href="/user/29089" rel="author"><img
                                            src="/uploads/avatar/000/02/90/89_avatar_small.jpg" alt="infozr"></a>

                                    <div class="media-body">
                                        <div class="media-content"><a href="/user/29089" rel="author">infozr</a>：12306
                                            部分用户数据泄露，以后我们还敢用插件么
                                        </div>
                                        <div class="media-action">
                                            1天前                                    <span class="pull-right">
                                        <a href="/feed/1767">评论(0)</a>                                    </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="media">
                                    <a class="media-left" href="/user/28698" rel="author"><img
                                            src="/images/noavatar_small.gif" alt="dyllen"></a>

                                    <div class="media-body">
                                        <div class="media-content"><a href="/user/28698" rel="author">dyllen</a>：我草，邮件验证的链接打开是404。
                                        </div>
                                        <div class="media-action">
                                            1天前                                    <span class="pull-right">
                                        <a href="/feed/1764">评论(3)</a>                                    </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="media">
                                    <a class="media-left" href="/user/29839" rel="author"><img
                                            src="/images/noavatar_small.gif" alt="janhy"></a>

                                    <div class="media-body">
                                        <div class="media-content"><a href="/user/29839" rel="author">janhy</a>：圣诞节快乐！
                                        </div>
                                        <div class="media-action">
                                            1天前                                    <span class="pull-right">
                                        <a href="/feed/1763">评论(1)</a>                                    </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2><span class="fa fa-list"></span> 最新教程</h2>
                        <span class="pull-right"><a href="/tutorial">更多&raquo;</a></span>
                    </div>
                    <div class="panel-body">
                        <ul class="post-list">
                            <li><a href="/tutorial/323">yii2 中实现规划任务</a></li>
                            <li><a href="/tutorial/322">yii2 kindeditor编辑器</a></li>
                            <li><a href="/tutorial/321">yii2 多语言设置</a></li>
                            <li><a href="/tutorial/320">yii2 邮件发送</a></li>
                            <li><a href="/tutorial/319">使用fancybox弹出表单</a></li>
                            <li><a href="/tutorial/318">在文本框使用编辑器时，保存的...</a></li>
                            <li><a href="/tutorial/317">yii2.0 引入Ueditor</a></li>
                            <li><a href="/tutorial/316">GridView 单元格添加 html 代...</a></li>
                            <li><a href="/tutorial/315">Yii2 高级模板不使用Apache配...</a></li>
                            <li><a href="/tutorial/128">Yii2 引入扩展的一种方法</a></li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2><span class="fa fa-list"></span> 最新扩展</h2>
                        <span class="pull-right"><a href="/extension">更多&raquo;</a></span>
                    </div>
                    <div class="panel-body">
                        <ul class="post-list">
                            <li><a href="/extension/113">Yii 的 UEditor 扩展-支持缩略...</a></li>
                            <li><a href="/extension/111">Yii1 的百度编辑器 ueditor 扩...</a></li>
                            <li><a href="/extension/97">Isotope 或 Masonry扩展， Yii...</a></li>
                            <li><a href="/extension/26">消息队列 RabbitMQ 的封装</a></li>
                            <li><a href="/extension/25">简易数据库导入/导出</a></li>
                            <li><a href="/extension/24">phpexcel-从数据库导出Excel</a></li>
                            <li><a href="/extension/22">fancybox-jQuery弹出层</a></li>
                            <li><a href="/extension/21">alipay-支付宝平台服务和通知</a></li>
                            <li><a href="/extension/20">Image-Kohana 图像处理库</a></li>
                            <li><a href="/extension/19">cthumb-缩略图生成函数</a></li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2><span class="fa fa-list"></span> 最新源码</h2>
                        <span class="pull-right"><a href="/code">更多&raquo;</a></span>
                    </div>
                    <div class="panel-body">
                        <ul class="post-list">
                            <li><a href="/code/116">解决发送邮件中文乱码</a></li>
                            <li><a href="/code/107">Yii 中使用分页</a></li>
                            <li><a href="/code/99">自定义分页，不用Yii自带的组...</a></li>
                            <li><a href="/code/77">Easyui基于日历插件的扩展</a></li>
                            <li><a href="/code/49">在CGridView中使用CJuiDatePic...</a></li>
                            <li><a href="/code/37">Yii 插件模块</a></li>
                            <li><a href="/code/32">BageCMS-开源内容管理系统</a></li>
                            <li><a href="/code/31">基于 Nestedset 的无级限分类...</a></li>
                            <li><a href="/code/30">回到顶部最简单的JQuery实现代...</a></li>
                            <li><a href="/code/29">Yii Framework中使用最新省份...</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="back-to-top btn btn-default"><span class="fa fa-arrow-up"></span></a>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <h2>关于Yii</h2>
                <ul>
                    <li><a href="/about">关于Yii</a></li>
                    <li><a href="/performance">Yii的性能</a></li>
                    <li><a href="/features">Yii的特性</a></li>
                    <li><a href="/license">许可</a></li>
                    <li><a href="/news/index">动态</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h2>文档手册</h2>
                <ul>
                    <li><a href="/tour">开发向导</a></li>
                    <li><a href="/doc/blog">博客教程</a></li>
                    <li><a href="/doc/guide">权威指南</a></li>
                    <li><a href="/doc/api">类参考手册</a></li>
                    <li><a href="/tutorial">教程</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h2>常用工具</h2>
                <ul>
                    <li><a href="/download">下载Yii</a></li>
                    <li><a href="/extension">扩展</a></li>
                    <li><a href="/code">源码</a></li>
                    <li><a href="/topic">交流</a></li>
                    <li><a href="/cases">案例</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h2>QQ交流群</h2>
                <ul>
                    <li>
                        ① <a target="_blank"
                             href="http://shang.qq.com/wpa/qunwpa?idkey=19f92b4525df025f856917537c4a6d9bb8dd6a0fc1c660b408d65cc21fef6c22">4241653</a>
                        <font class="fast">(已满)</font>　
                        ② <a target="_blank"
                             href="http://shang.qq.com/wpa/qunwpa?idkey=38dee71f9bd97c37e131c0722e640fe7c12f459afc67ca34fb82d67dd1ab9b0c">4829703</a>
                        <font class="fast">(已满)</font>
                    </li>
                    <li>
                        ③ <a target="_blank"
                             href="http://shang.qq.com/wpa/qunwpa?idkey=215d55638b0eac69f25b68664d394579994b48b34789149855419c548a620d57">4958407</a>
                        <font class="fast">(已满)</font>　
                        ④ <a target="_blank"
                             href="http://shang.qq.com/wpa/qunwpa?idkey=7aa35873c42e820781a4822e7ba2c7352c3c85454ea9454009fe2c15a2797c5d">5476028</a>
                        <font color="orange">(将满)</font>
                    </li>
                    <li>
                        ⑤ <a target="_blank"
                             href="http://shang.qq.com/wpa/qunwpa?idkey=1a0c961d723cd24f98185b4a631f303efa05c2442f24022c3eb1ddb8b623a270">5478523</a>
                        <font class="fast">(已满)</font>　
                        ⑥ <a target="_blank"
                             href="http://shang.qq.com/wpa/qunwpa?idkey=f0ab6fcfcd0a431c53c0ef8e5538609a6920360c86b73dd401e7e88f1a2795b9">5604716</a>
                        <font color="orange">(将满)</font>
                    </li>
                    <li>
                        ⑦ <a target="_blank"
                             href="http://shang.qq.com/wpa/qunwpa?idkey=143aade31ff7a073a07bdc75d3c960b3f671a76f6f6de0c608c3702b6aac60a7">5629416</a>
                        <font color="secure">(未满)</font>　
                        ⑧ <a target="_blank"
                             href="http://shang.qq.com/wpa/qunwpa?idkey=57b5f15c3b1f35cd2721b45a6eb20fd63cc76a4776e5c1767b521f01c14dec9c">6419794</a>
                        <font color="secure">(未满)</font>
                    </li>
                    <li>
                        ⑨ <a target="_blank"
                             href="http://shang.qq.com/wpa/qunwpa?idkey=77e547190bdda1bac3d1fed071882b53585d63120f65ef656e7f4f0d3112cbdd">7415106</a>
                        <font color="secure">(未满)</font>　
                        ⑩ <a target="_blank"
                             href="http://shang.qq.com/wpa/qunwpa?idkey=d626c01d0074072d2e01219259aab99d10d8691711a2882478c1dbf8a9b5e23e">7594839</a>
                        <font color="secure">(未满)</font>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h2>Yii Framework中文社区</h2>

                <div class="share">
                    <div class="row">
                        <div class="col-lg-3">
                            <a href="http://t.qq.com/yiichina">
                                    <span class="fa-stack fa-lg">
                                      <i class="fa fa-square fa-stack-2x"></i>
                                      <i class="fa fa-tencent-weibo fa-stack-1x fa-inverse"></i>
                                    </span>
                            </a>
                        </div>

                        <div class="col-lg-3">
                            <a href="http://weibo.com/yiichina">
                                    <span class="fa-stack fa-lg">
                                      <i class="fa fa-square fa-stack-2x"></i>
                                      <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                                    </span>
                            </a>
                        </div>

                        <div class="col-lg-3">
                            <a href="https://github.com/yiichina">
                                    <span class="fa-stack fa-lg">
                                      <i class="fa fa-square fa-stack-2x"></i>
                                      <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="power">
                    <span class="fa fa-html5 html"></span> <span class="fa fa-css3 css"></span></div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="container">
        <span class="pull-left">Copyright &copy; 2009-2014 by <a href="http://www.yiichina.com">yiichina</a>. All Rights Reserved.</span>
        <span class="pull-right">Powered by <a href="http://www.yiiframework.com/" rel="external">Yii Framework</a> 2.0.1. <a
                href="http://www.miibeian.gov.cn" target="_blank">京ICP备09104811号</a></span>
    </div>
</footer>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<div class="online visible-lg"><p>在 线<br/><strong>42</strong>人</p>

    <div class="scroll-pane">
        <ul>
            <li><a href="/user/29896" rel="author"><img src="/images/noavatar_small.gif" alt="swenjt"></a></li>
            <li><a href="/user/28925" rel="author"><img src="/uploads/avatar/000/02/89/25_avatar_small.jpg"
                                                        alt="chenguotao"></a></li>
            <li><a href="/user/29871" rel="author"><img src="/images/noavatar_small.gif" alt="Lanbo2012"></a></li>
            <li><a href="/user/21428" rel="author"><img src="/uploads/avatar/000/02/14/28_avatar_small.jpg" alt="大裤衩子"></a>
            </li>
            <li><a href="/user/2" rel="author"><img src="/uploads/avatar/000/00/00/02_avatar_small.jpg" alt="╃巡洋艦㊣"></a>
            </li>
            <li><a href="/user/28467" rel="author"><img src="/uploads/avatar/000/02/84/67_avatar_small.jpg"
                                                        alt="小伙儿"></a></li>
        </ul>
    </div>
    <p>会 员<br/><strong>6</strong>人</p></div>
<script src="/assets/27857562/jquery.js"></script>
<script src="/assets/61c7069d/yii.js"></script>
<script src="/js/main.js"></script>
<script src="/js/jquery.mousewheel.min.js"></script>
<script src="/js/jquery.jscrollpane.min.js"></script>
<script src="/assets/602ca910/js/bootstrap.js"></script>
<script type="text/javascript">jQuery(document).ready(function () {
    jQuery('#w4').alert();
});</script>
</body>
</html>
